/* css fie for the predection website */
body{
    background-color: rgba(116, 2, 2, 0.76);
}
h1 {
    text-align: center;
}
p{
    margin: 30px;
    font-size: 25px;
    font-weight: bold;
}
h5{
    font-size: 20px;
    color: white;
}
.flex{
    display: flex;
    justify-content: center;
}
input{
    margin: 15px;
    width: 20%;
    height: 30px;
}
button{
    margin: 15px;
    height: 35px;
}
.informations{
    display: none;
    justify-content: center;
    
}
.dogimg{
    
    text-align: center;
}